@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500;700&display=swap');

* {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: bold;
}

body {
	background-image: url("/img/fonoj/bg2.jpg");
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
}

.inko {
	background-size: contain;
	background-image: url('/img/fonoj/inko_senlima.svg');
	width: 100vw;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
	border-color: white;
}

.navbar-brand {
	background: linear-gradient(180deg, rgba(30,160,255,1) 50%, rgba(255,254,0,1) 50%);
	background-clip: text;
	color: transparent !important;
}

.banner {
	line-height: 12pt;
	text-shadow: -3px 3px 3px #444;
}

.bg-tr {
	background: rgba(0, 0, 0, 0.33);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.33), 0 0 10px rgba(0, 0, 0, 0.33), 0 0 10px rgba(0, 0, 0, 0.33);
}

/*===============TIPAROJ==============*/

.noto-display {
	font-family: 'Noto Serif Display', serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.bold {
	font-weight: bold;
}

.crimson {
	font-family: "Crimson Text", serif;
}


/*=========POSTS===============*/
.post {
	height: 400px;
	overflow-y: scroll;
}

.post * {
	font-family: 'Ubuntu';
	font-weight: normal;
}

.post h1 {
	font-family: 'Noto Serif Display', serif;
	font-size: 54px;
	margin-left: 36px;
}

.post h2 {
	font-family: 'Ubuntu';
	font-size: 36px;
	text-indent: 36px;
}

.post p {
	font-family: 'Ubuntu';
	font-size: 20px;
	text-indent: 36px;
}

.post u {
	font-family: 'Ubuntu';
	font-size: 20px;
	text-indent: 36px;
}

.post em {
	font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: bolder !important;
}

.post .date {
	font-family: 'Ubuntu';
	font-style: normal;
	text-indent: 0;
}

@media screen and (max-width: 1100px) {
	.inko {background-size: cover}
}

@media screen and (max-width: 768px) {
	.banner {
		font-size: 10px;
		line-height: 8.5pt;
	}
}
