		<nav class="navbar navbar-dark navbar-expand-lg bg-black">
			<div class="container-fluid">
				<a class="ms-3 navbar-brand fs-1" href="#"><img src="/img/logotipoj/LudemaBlankaRektangula.svg" height=50 class="me-2">Ighu!Studio</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Baskuli navigacion">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link text-light fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="icon-gamepad"></i>{{LUDOJ}}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Komunterio</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-light fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="icon-book"></i>{{LIBREJO}}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><span class="dropdown-item-text"><h5><b>{{BELETRO}}</b></h5></span></li>
								<li><a class="dropdown-item" href="#">Komunterio</a></li>
								<li><a class="dropdown-item" href="#">Lernolibro pri Kordalo</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><span class="dropdown-item-text"><h5><b>{{TEKNIKA_LITERATURO}}</b></h5></span></li>
								<li><a class="dropdown-item" href="#">Bevy Tromplibro</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-light fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="icon-headphones"></i>{{MUZIKO}}
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Koncepto Sociala</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-light fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="icon-globe-1"></i>
							</a>							
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#"><img src="/img/lingvoj/eo.png"> Esperanto</a></li>
								<li><a class="dropdown-item" href="#"><img src="/img/lingvoj/ukraina.png"> Українська</a></li>
								<li><a class="dropdown-item" href="#"><img src="/img/lingvoj/rusa.png"> Русский</a></li>
								<li><a class="dropdown-item" href="#"><img src="/img/lingvoj/angla.png"> English</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<img src="img/fonoj/inko.svg" style="width: 100vw">
		

